@model SkjaTextar.ViewModels.SegmentViewModel

@{
    ViewBag.Title = "Ný lína";
}
<div class="col-sm-offset-1">
    <h2>Bæta við línu</h2>
</div>
<hr />
<div>
    @using (Html.BeginForm(FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.TranslationID)
            <div class="form-group">
                @Html.LabelFor(model => model.TimestampStart, new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    <input class="text-box single-line valid" data-val="true" data-val-regex="Tímastimpill þarf að vera á forminu &quot;00:00:00,000&quot;." data-val-regex-pattern="^\d\d:[0-5]\d:[0-5]\d,\d\d\d$" id="TimestampStart" name="TimestampStart" type="text" placeholder="00:00:00,000">
                    @Html.ValidationMessageFor(model => model.TimestampStart)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.TimestampEnd, new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    <input class="text-box single-line valid" data-val="true" data-val-regex="Tímastimpill þarf að vera á forminu &quot;00:00:00,000&quot;." data-val-regex-pattern="^\d\d:[0-5]\d:[0-5]\d,\d\d\d$" id="TimestampEnd" name="TimestampEnd" type="text" placeholder="00:00:00,000">
                    @Html.ValidationMessageFor(model => model.TimestampEnd)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Line1, new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Line1)
                    @Html.ValidationMessageFor(model => model.Line1)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Line2, new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Line2)
                    @Html.ValidationMessageFor(model => model.Line2)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Original1, new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Original1)
                    @Html.ValidationMessageFor(model => model.Original1)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Original2, new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Original2)
                    @Html.ValidationMessageFor(model => model.Original2)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <input type="submit" value="Stofna" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    <div class="col-sm-offset-1">
        @Html.ActionLink("Aftur á þýðingu", "Index", new { id = Model.TranslationID })
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
