@model SkjaTextar.ViewModels.MovieTranslationViewModel

@{
    ViewBag.Title = "Create Movie";
}

<h2>Ný þýðing</h2>


@using (Html.BeginForm("CreateMovie", "Translation", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <p>@ViewBag.MediaType</p>
        
        
        <div class="form-group">
            @Html.LabelFor(model => model.Movie.CategoryID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="Movie_CategoryID" name="Movie.CategoryID">
                    @foreach(var item in ViewBag.CategoryID)
                    {
                        <option value="@item.ID">@item.Name</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Movie.Title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Movie.Title)
                @Html.ValidationMessageFor(model => model.Movie.Title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Movie.ReleaseYear, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Movie.ReleaseYear)
                @Html.ValidationMessageFor(model => model.Movie.ReleaseYear)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Movie.Link, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Movie.Link)
                @Html.ValidationMessageFor(model => model.Movie.Link)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LanguageID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("LanguageID", String.Empty)
            </div>
        </div>

        <label for="file">Filename:</label>
        <input type="file" name="file" id="file" />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
