@model SkjaTextar.Models.Translation

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Translation</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.MediaID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MediaID)
                @Html.ValidationMessageFor(model => model.MediaID)
            </div>
        </div>

        @Html.DropDownList("MediaType", String.Empty)
        @Html.DropDownList("CategoryID", String.Empty)
        @Html.DropDownList("LanguageSelect", String.Empty)

        <div class="form-group">
            @Html.LabelFor(model => model.Score, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Score)
                @Html.ValidationMessageFor(model => model.Score)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumberOfDownloads, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumberOfDownloads)
                @Html.ValidationMessageFor(model => model.NumberOfDownloads)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Locked, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Locked)
                @Html.ValidationMessageFor(model => model.Locked)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Language, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Language)
                @Html.ValidationMessageFor(model => model.Language)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
