@model SkjaTextar.ViewModels.ClipTranslationViewModel

@{
    ViewBag.Title = "Create Clip";
}

<h2>Ný þýðing</h2>

@using (Html.BeginForm("CreateClip", "Translation"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <p>@ViewBag.MediaType</p>


        <div class="form-group">
            @Html.LabelFor(model => model.Clip.CategoryID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="Clip_CategoryID" name="Clip.CategoryID">
                    @foreach (var item in ViewBag.CategoryID)
                    {
                        <option value="@item.ID">@item.Name</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Clip.Title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Clip.Title)
                @Html.ValidationMessageFor(model => model.Clip.Title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Clip.ReleaseYear, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Clip.ReleaseYear)
                @Html.ValidationMessageFor(model => model.Clip.ReleaseYear)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Clip.Link, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Clip.Link)
                @Html.ValidationMessageFor(model => model.Clip.Link)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LanguageID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("LanguageID", String.Empty)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
