@model PagedList.IPagedList<SkjaTextar.Models.TranslationSegment>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = ViewBag.MediaTitle + " - " + ViewBag.LanguageName;
}

<div id="translationid" data-translationid="@ViewBag.TranslationID" class="hidden"></div>

<div class="row">
    <h2 class="col-md-9 col-md-offset-3">@Html.ActionLink(ViewBag.MediaTitle as string, "Index", "Media", new { ID = ViewBag.MediaID }, null) - @ViewBag.LanguageName</h2>
</div>

<div>
    @if (TempData["UserMessage"] != null)
    {
        <p class="alert-success col-md-offset-3 col-md-2">@TempData["UserMessage"]</p>
    }
</div>

<div class="row">
    <div class=" row col-sm-6 col-md-offset-3">
        @Html.ActionLink("Umræður", "CommentIndex", "Translation", new { id = ViewBag.TranslationID }, new { @class = "btn btn-primary", role = "button" })
        @Html.ActionLink("Tilkynna þýðingu", "Report", "Translation", new { translationID = ViewBag.TranslationID }, new { @class = "btn btn-primary", role = "button" })
        @Html.ActionLink("Ný lína", "AddLine", "Translation", new { ID = ViewBag.TranslationID }, new { @class = "btn btn-primary", role = "button" })
        @Html.ActionLink("Sækja þýðingu", "Download", "Translation", new { translationId = ViewBag.TranslationID, mediaId = ViewBag.MediaID }, new { @class = "btn btn-primary", role = "button" })
    </div>

</div>
<div class="row voffset2">
    <div class="col-md-9 col-md-offset-3">
        @using (Html.BeginForm("AutoTranslate", "Translation", FormMethod.Post, new { @class = "col-xs-1" }))
        {
            @Html.Hidden("translationId", ViewBag.TranslationID as string)
            @Html.Hidden("languageId", ViewBag.LanguageId as string)
            <button class="btn btn-primary">Þýða með Bing</button>
        }
    </div>
</div>
@if(!ViewBag.HidePager)
{
<div class="row">
    <div class="col-md-9 col-md-offset-3">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, ID = ViewBag.TranslationID })) 
    </div>
</div>
}



<div class="row">
    <div class="col-md-6 col-md-offset-3">
        @foreach(var item in Model)
        {
            <p class="voffset4" style="font-size: 1.1em">@item.Timestamp</p>
            <p>@item.Original1</p>
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" value="@item.Line1" readonly="readonly" />
                <span class="input-group-btn"><button data-line="1" data-segmentid="@item.SegmentID" class="btn btn-default edit" type="button"><span class="glyphicon glyphicon-edit"></span></button></span>
            </div>
            <p></p>
            <p>@item.Original2</p>
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" value="@item.Line2" readonly="readonly" />
                <span class="input-group-btn"><button data-line="2" data-segmentid="@item.SegmentID" class="btn btn-default edit" type="button"><span class="glyphicon glyphicon-edit"></span></button></span>
            </div>
        }
    </div>
</div>
<br />
@if(!ViewBag.HidePager)
{
<div class="col-md-offset-3">
    Síða @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) af @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, ID = ViewBag.TranslationID }))
</div>
}
@section Scripts {
    <script src="~/Scripts/TranslationSegment.js"></script>
}
