@model SkjaTextar.Models.Translation
@{
    ViewBag.Title = "Index";
}

<div id="translationid" data-translationid="@Model.ID" class="hidden"></div>

<div class="row">
    <h2 class="col-md-10 col-md-offset-2">@Html.DisplayFor(model => model.Media.Title) - @Html.DisplayFor(model => model.Language.Name)</h2>
</div>

<div>
    @if (TempData["UserMessage"] != null)
    {
        <p>@TempData["UserMessage"]</p>
    }
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-2">
        @Html.ActionLink("Umræður", "CommentIndex", "Translation", new { id = Model.ID }, new { @class = "btn btn-primary active", role = "button" })
        @Html.ActionLink("Sækja .srt skrá", "Download", "Translation", new { translationId = Model.ID, mediaId = Model.MediaID }, new { @class = "btn btn-primary active", role = "button" })
        @Html.ActionLink("Tilkynna þýðingu", "Report", "Translation", new { translationID = Model.ID }, new { @class = "btn btn-primary active", role = "button" })
        @Html.ActionLink("Ný lína", "AddLine", "Translation", new { ID = Model.ID }, new { @class = "btn btn-primary active", role = "button" })
    </div>
</div>
<div class="row">
    <div class="col-md-5 col-md-offset-2">
        @foreach(var item in Model.TranslationSegments)
        {
            <p class="voffset5">@item.Timestamp</p>
            <p>@item.Original1</p>
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" value="@item.Line1" readonly="readonly" />
                <span class="input-group-btn"><button data-line="1" data-segmentid="@item.SegmentID" class="btn btn-default edit" type="button"><span class="glyphicon glyphicon-edit"></span></button></span>
            </div>
            <p>@item.Original2</p>
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" value="@item.Line2" readonly="readonly" />
                <span class="input-group-btn"><button data-line="2" data-segmentid="@item.SegmentID" class="btn btn-default edit" type="button"><span class="glyphicon glyphicon-edit"></span></button></span>
            </div>
        }
    </div>
    <div class="col-md-3 col-md-offset-2">
        <ul>
            <li class="active">
                <a href="#000000">00:00:00</a>
            </li>
            <li>
                <a href="#001500">00:15:00</a>
            </li>
            <li>
                <a href="#003000">00:30:00</a>
            </li>
            <li>
                <a href="#004500">00:45:00</a>
            </li>
        </ul>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/TranslationSegment.js"></script>
}
