@model IEnumerable<SkjaTextar.Models.Category>
@{
    ViewBag.Title = "Index";
}

<h2>Flokkar</h2>

<div class="row">
    <div class="col-md-4">
        <div class="list-group">
            @Html.ActionLink("Kvikmyndir", "MediaByCategory", new { id = 0, mediaType = "Movie" }, new { @class = "list-group-item list-group-item-heading text-center h4"})
            @foreach(var item in Model)
            {
                @Html.ActionLink(item.Name, "MediaByCategory", new { id = item.ID, mediaType = "Movie" }, new { @class = "list-group-item"})
            }
        </div>
    </div>
    <div class="col-md-4">
        <div class="list-group">
            @Html.ActionLink("Sjónvarpsþættir", "MediaByCategory", new { id = 0, mediaType = "Show" }, new { @class = "list-group-item list-group-item-heading text-center h4" })
            @foreach (var item in Model)
            {
                @Html.ActionLink(item.Name, "MediaByCategory", new { id = item.ID, mediaType = "Show" }, new { @class = "list-group-item" })
            }
        </div>
    </div>
    <div class="col-md-4">
        <div class="list-group">
            @Html.ActionLink("Myndbrot", "MediaByCategory", new { id = 0, mediaType = "Clip" }, new { @class = "list-group-item list-group-item-heading text-center h4" })
            @foreach (var item in Model)
            {
                @Html.ActionLink(item.Name, "MediaByCategory", new { id = item.ID, mediaType = "Clip" }, new { @class = "list-group-item" })
            }
        </div>
    </div>
</div>

