@model SkjaTextar.Models.Clip

@{
    ViewBag.Title = Model.Title;
}

<div class="row">
    <h2 class="col-md-3 col-md-offset-2">@Html.DisplayFor(model => model.Title)</h2>
    <div class="col-md-7 voffset2">
        @Html.ActionLink("Ný þýðing", "CreateTranslation", "Translation", new { id = Model.ID }, new { @class = "btn btn-primary active", role = "button" })
    </div>
</div>

<div class="row">
    <div class="col-md-3 col-md-offset-2">
        <img src="@Url.Content("~/content/placeholder.png")" alt="@Model.Title poster" />
        <p>@Html.DisplayFor(model => model.Category.Name)</p>
        <p>@Html.DisplayFor(model => model.ReleaseYear)</p>
        @Html.DisplayFor(model => model.Link)
    </div>
    <div class="col-md-7">
        @foreach (var item in Model.Translations)
        {
             <p>@Html.ActionLink(item.Language.Name, "Index", "Translation", new { id = item.ID}, null)<span>@item.NumberOfDownloads</span></p>
        }
    </div>
</div>