@model SkjaTextar.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("Search", "Home"))
{
<div class="row voffset6">
    <div class="col-md-8 col-md-offset-2 col-sm-12">
        <div class="input-group input-group-lg">
            <input name="searchQuery" id="main-search-bar" type="text" class="form-control input-lg" placeholder="Kvikmynd, þáttur, blabla...">
            <span class="input-group-btn"><button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button></span>
        </div>
    </div>
</div>
}

<div class="row voffset4">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
        <div class="btn-group  col-sm-6 col-md-6 col-xs-12" >
            <button type="button" class="btn btn-lg btn-default btn-block dropdown-toggle" data-toggle="dropdown">
                Ný Beiðni <span class="caret"></span>
            </button>
            <ul class="dropdown-menu col-xs-12"  role="menu">
                <li>@Html.ActionLink("Kvikmynd", "Create", "Request", new { mediaCat = "Movie" }, null)</li>
                <li>@Html.ActionLink("Sjónvarpsþáttur", "Create", "Request", new { mediaCat = "Show" }, null)</li>
                <li>@Html.ActionLink("Myndbrot", "Create", "Request", new { mediaCat = "Clip" }, null)</li>
            </ul>
        </div>
        <div class="btn-group col-sm-6 col-md-6 col-xs-12">
            <button type="button" class="btn btn-lg btn-default dropdown-toggle btn-block" data-toggle="dropdown">
                Ný þýðing <span class="caret"></span>
            </button>
            <ul class="dropdown-menu col-xs-12" role="menu">
                <li>@Html.ActionLink("Kvikmynd", "Create", "Translation", new { mediaCat = "Movie" }, null)</li>
                <li>@Html.ActionLink("Sjónvarpsþáttur", "Create", "Translation", new { mediaCat = "Show" }, null)</li>
                <li>@Html.ActionLink("Myndbrot", "Create", "Translation", new { mediaCat = "Clip" }, null)</li>
            </ul>
        </div>
    </div>
</div>

<div class="row voffset6">
    <div class="col-md-3 col-sm-6">
        <ul class="list-group">
            <li class="list-group-item list-group-item-heading text-center h4">Virkir notendur</li>
            @foreach(var item in Model.ActiveUsers)
            {
                <li class="list-group-item"><span class="badge">@item.Score</span>@item.UserName</li>
            }
        </ul>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="list-group">
            <p class="list-group-item list-group-item-heading text-center h4">Mest sótt</p>
            @foreach (var item in Model.TopTranslations)
            {
                <a href="@Url.Action("Index", "Translation", new { id = item.ID })" class="list-group-item">@item.Media.Title<span class="glyphicon glyphicon-download-alt badge"><span class="pad-left">@item.NumberOfDownloads</span></span></a>
            }
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="list-group">
            <p class="list-group-item list-group-item-heading text-center h4">Heitar beiðnir</p>
            @foreach (var item in Model.TopRequests)
            {
                <a href="@Url.Action("Details", "Request", new { id = item.ID })" class="list-group-item">@item.Media.Title<span class="badge">@item.Language.Name</span></a>
            }
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="list-group">
            <p class="list-group-item list-group-item-heading text-center h4">Nýjast</p>
            @foreach (var item in Model.NewTranslations)
            {
                <a href="@Url.Action("Index", "Translation", new { id = item.ID })" class="list-group-item">@item.Media.Title<span class="badge">@item.Language.Name</span></a>
            }
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/Scripts/autocomplete.js"></script>
<script src="~/Scripts/jquery-ui-1.10.4.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
}

