@model SkjaTextar.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="row voffset6">
    <div class="col-md-8 col-md-offset-2 col-sm-12">
        <div class="input-group input-group-lg">
            <input id="main-search-bar" type="text" class="form-control input-lg" placeholder="Kvikmynd, þáttur, blabla...">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
        </div>
    </div>
</div>

<div class="row voffset6">
    <div class="col-md-3 col-sm-6">
        <ul class="list-group">
            <li class="list-group-item list-group-item-heading text-center h4">Virkir notendur</li>
            @foreach(var item in Model.ActiveUsers)
            {
                <li class="list-group-item"><span class="badge">@item.Score</span>@item.UserName</li>
            }
        </ul>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="list-group">
            <p class="list-group-item list-group-item-heading text-center h4">Mest sótt</p>
            @foreach (var item in Model.TopTranslations)
            {
                <a href="@Url.Action("Index", "Translation", new { id = item.ID })" class="list-group-item">@item.Media.Title<span class="badge">@item.NumberOfDownloads</span></a>
            }
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="list-group">
            <p class="list-group-item list-group-item-heading text-center h4">Heitar beiðnir</p>
            @foreach (var item in Model.TopRequests)
            {
                <a href="@Url.Action("Details", "Request", new { id = item.ID })" class="list-group-item">@item.Media.Title<span class="badge">@item.Language</span></a>
            }
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="list-group">
            <p class="list-group-item list-group-item-heading text-center h4">Nýjast</p>
            @foreach (var item in Model.NewTranslations)
            {
                <a href="@Url.Action("Index", "Translation", new { id = item.ID })" class="list-group-item">@item.Media.Title<span class="badge">@item.Language</span></a>
            }
        </div>
    </div>
</div>