@model SkjaTextar.Models.Request
@{
    ViewBag.Title = "Um beiðni";
}

<h2 class="col-xs-offset-1">Beiðni</h2>

<div class="row">
    <div class="col-md-7 voffset2">
        @using (Html.BeginForm("CreateTranslation", "Translation", FormMethod.Get))
        {
            <input type="hidden" name="ID" value="@Model.MediaID" />
            @Html.Hidden("LanguageID", Model.LanguageID)
            <button class="btn btn-primary col-xs-offset-2" type="submit">Svara beiðni</button>
        }
    </div>
</div>

<div>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            Flokkur
        </dt>

        <dd>
            Myndbrot
        </dd>

        <dt>
            Undirflokkur
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Media.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Media.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Media.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Media.ReleaseYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Media.ReleaseYear)
        </dd>

        <dt>
            Tungumál
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language.Name)
        </dd>

        <dt>
            Stig
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Score)
        </dd>

    </dl>
</div>
<div class="col-md-11 col-md-offset-1">
    <iframe width=" 560" height="315" src="@Model.Media.Link" frameborder="0" allowfullscreen></iframe>
</div>
<p class="col-xs-offset-1">
    @Html.ActionLink("Aftur á beiðnir", "Index")
</p>

