@model SkjaTextar.Models.Show

@{
    ViewBag.Title = "Ný beiðni fyrir Þátt";
}

<h2 class="col-md-offset-1">Ný beiðni - Sjónvarpsþáttur</h2>

<div>
    @if (ViewBag.ErrorMsg != null)
    {
        <h3 class="field-validation-error">@ViewBag.Errormsg</h3>
        if (ViewBag.ReqExist != null && ViewBag.ReqExist)
        {
            @Html.ActionLink("Aftur á beiðnir", "Index");
        }
        else
        {
            @Html.ActionLink("Yfir á þýðingu", "Index", "Translation", new { ID = ViewBag.TranslationID }, null);
        }
    }
</div>
@using (Html.BeginForm("CreateForMedia", "Request", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p>@Model.Title</p>
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2 category">Flokkur</span>
            <div class="col-md-10">
                <p>@Model.Category.Name</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Series, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p>@Model.Series</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Episode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p>@Model.Episode</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReleaseYear, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p>@Model.ReleaseYear</p>
            </div>
        </div>

        <div class="form-group">
            <label for="Language" class="control-label col-md-2">Tungumál</label>
            <div class="col-md-10">
                @Html.DropDownList("LanguageID", String.Empty)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Stofna beiðni" class="btn btn-default" />
            </div>
        </div>
    </div>
}

