@model SkjaTextar.Models.Show

@{
    ViewBag.Title = "CreateForShow";
}

<h2>CreateForShow</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Media</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p>@Model.Title</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Category, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p>@Model.Category.Name</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Series, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p>@Model.Series</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Episode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p>@Model.Episode</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReleaseYear, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p>@Model.ReleaseYear</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Link, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p>@Model.Link</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Active, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Active)
                @Html.ValidationMessageFor(model => model.Active)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
