@model IEnumerable<SkjaTextar.Models.Request>

@{
    ViewBag.Title = "Index";
}

<h2>Beiðnir</h2>

<div class="btn-group  col-sm-3 col-md-2 col-xs-12">
    <button type="button" class="btn btn-lg btn-default btn-block dropdown-toggle" data-toggle="dropdown">
        Ný Beiðni <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li>@Html.ActionLink("Kvikmynd", "Create", "Request", new { mediaCat = "Movie" }, null)</li>
        <li>@Html.ActionLink("Sjónvarpsþáttur", "Create", "Request", new { mediaCat = "Show" }, null)</li>
        <li>@Html.ActionLink("Myndbrot", "Create", "Request", new { mediaCat = "Clip" }, null)</li>
    </ul>
</div>

<table class="table">
    <tr>
        <th>
            <p>Titill</p>
        </th>
        <th>
            <p>Tungumál</p>
        </th>
        <th>
            <p>Stig</p>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <p>@Html.ActionLink(item.Media.Title, "Details", "Request", new { id = item.ID }, null)</p>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Language.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Score)
            @using (Html.BeginForm("RequestVote", "Request"))
            {
                @Html.Hidden("ID", item.ID)
                @Html.Hidden("Vote", true)
                <button><span class="glyphicon glyphicon-chevron-up"></span></button> 
            }

            @using (Html.BeginForm("RequestVote", "Request"))
            {
                @Html.Hidden("ID", item.ID)
                @Html.Hidden("Vote", false)
                <button><span class="glyphicon glyphicon-chevron-down"></span></button>
            }
        </td>
    </tr>
}

</table>
