@model SkjaTextar.ViewModels.ShowRequestViewModel

@{
    ViewBag.Title = "ShowRequestDetails";
}

<h2>Beiðni</h2>

<div class="row">
    <div class="col-md-7 voffset2">
        @using (Html.BeginForm("CreateTranslation", "Translation", FormMethod.Get))
        {
            <input type="hidden" name="ID" value="@Model.Request.MediaID" />
            @Html.Hidden("LanguageID", Model.Request.LanguageID)
            <button class="btn btn-primary" type="submit">Svara beiðni</button>
        }
    </div>
</div>

<div>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            Flokkur
        </dt>

        <dd>
            Sjónvarpsþáttur
        </dd>

        <dt>
            Undirflokkur
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Show.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Show.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Show.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Show.ReleaseYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Show.ReleaseYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Show.Series)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Show.Series)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Show.Episode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Show.Episode)
        </dd>

        <dt>
            Tungumál
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Request.Language.Name)
        </dd>

        <dt>
            Stig
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Request.Score)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Aftur á beiðnir", "Index")
</p>
