@model SkjaTextar.ViewModels.ShowRequestViewModel

@{
    ViewBag.Title = "ShowRequestDetails";
}
<div id="mediatype" data-mediatype="tv"></div>
<h2 class="col-xs-offset-1">Beiðni</h2>

<div class="row">
    <div class="col-md-7 voffset2">
        @using (Html.BeginForm("CreateTranslation", "Translation", FormMethod.Get))
        {
            <input type="hidden" name="ID" value="@Model.Request.MediaID" />
            @Html.Hidden("LanguageID", Model.Request.LanguageID)
            <button class="btn btn-primary col-xs-offset-2" type="submit">Svara beiðni</button>
        }
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-5 col-md-4">

        <dl class="dl-horizontal">
            <dt>
                Flokkur
            </dt>

            <dd>
                Sjónvarpsþáttur
            </dd>

            <dt>
                Undirflokkur
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Show.Category.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Show.Title)
            </dt>

            <dd id="mediatitle" data-title="@Html.DisplayFor(model => model.Show.Title)">
                @Html.DisplayFor(model => model.Show.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Show.ReleaseYear)
            </dt>

            <dd id="relyear" data-year="@Html.DisplayFor(model => model.Show.ReleaseYear)">
                @Html.DisplayFor(model => model.Show.ReleaseYear)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Show.Series)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Show.Series)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Show.Episode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Show.Episode)
            </dd>

            <dt>
                Tungumál
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Request.Language.Name)
            </dd>

            <dt>
                Stig
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Request.Score)
            </dd>
        </dl>
    </div>
    <div id="poster" class="col-sm-7 col-md-8"></div>
</div>
    <p class="col-xs-offset-1">
        @Html.ActionLink("Aftur á beiðnir", "Index")
    </p>
@section Scripts {
    <script src="~/Scripts/movieposter.js"></script>
}