@model SkjaTextar.ViewModels.ShowRequestViewModel

@{
    ViewBag.Title = "ShowRequestDetails";
}

<h2>ShowRequestDetails</h2>

<div>
    <h4>ShowRequestViewModel</h4>
	<hr />
</div>
<div>
    <dl class="dl-horizontal">
        <dt>
            Yfirflokkur
        </dt>

        <dd>
            Sjónvarpsþáttur
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Show.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Show.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Show.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Show.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Show.ReleaseYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Show.ReleaseYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Show.Series)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Show.Series)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Show.Episode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Show.Episode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Request.Language.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Request.Language.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Request.Score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Request.Score)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
