<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sloppy Joe's WikiSubs</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>
    <div class="navbar yamm navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="~/Home/Index" class="navbar-brand">Sloppy Joe's WikiSubs</a>
            </div>
            <div id="navbar-collapse-1" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">                   
                    
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Flokkar<b class="caret"></b></a>
                        <ul class="dropdown-menu col-md-5 col-sm-6">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <ul class="col-sm-4 list-unstyled">
                                            <li>
                                                <p><strong><a href="~/Category/MediaByCategory/0?mediaType=Movie">Kvikmyndir</a></strong></p>
                                            </li>
                                            <li><a href="~/Category/MediaByCategory/1?mediaType=Movie">Gaman</a></li>
                                            <li><a href="~/Category/MediaByCategory/2?mediaType=Movie">Spenna</a></li>
                                            <li><a href="~/Category/MediaByCategory/3?mediaType=Movie">Drama</a></li>
                                            <li><a href="~/Category/MediaByCategory/4?mediaType=Movie">Barnaefni</a></li>
                                        </ul>
                                        <ul class="col-sm-4 list-unstyled">
                                            <li>
                                                <p><strong><a href="~/Category/MediaByCategory/0?mediaType=Show">Sjónvarpsþættir</a></strong></p>
                                            </li>
                                            <li><a href="~/Category/MediaByCategory/1?mediaType=Show">Gaman</a></li>
                                            <li><a href="~/Category/MediaByCategory/2?mediaType=Show">Spenna</a></li>
                                            <li><a href="~/Category/MediaByCategory/3?mediaType=Show">Drama</a></li>
                                            <li><a href="~/Category/MediaByCategory/4?mediaType=Show">Barnaefni</a></li>
                                        </ul>
                                        <ul class="col-sm-4 list-unstyled">
                                            <li>
                                                <p><strong><a href="~/Category/MediaByCategory/0?mediaType=Clip">Myndbrot</a></strong></p>
                                            </li>
                                            <li><a href="~/Category/MediaByCategory/1?mediaType=Clip">Gaman</a></li>
                                            <li><a href="~/Category/MediaByCategory/2?mediaType=Clip">Spenna</a></li>
                                            <li><a href="~/Category/MediaByCategory/3?mediaType=Clip">Drama</a></li>
                                            <li><a href="~/Category/MediaByCategory/4?mediaType=Clip">Barnaefni</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown yamm-fw">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Þýðingar<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="grid-demo">
                                <div class="row">
                                    <div class="col-sm-3 navmargpadd"><a class="navpadd btn btn-default btn-xs" href="~/Translation/ByLanguage/1">Íslenska</a></div>
                                    <div class="col-sm-3 navmargpadd"><a class="navpadd btn btn-default btn-xs" href="~/Translation/ByLanguage/3">English</a></div>
                                    <div class="col-sm-3 navmargpadd"><a class="navpadd btn btn-default btn-xs" href="~/Translation/ByLanguage/2">Deutsch</a></div>
                                    <div class="col-sm-3 navmargpadd"><a class="navpadd btn btn-default btn-xs" href="~/Translation/ByLanguage/4">Español</a></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 navmargpadd"><a class="navpadd btn btn-default btn-xs" href="~/Translation/ByLanguage/10">Dansk</a></div>
                                    <div class="col-sm-3 navmargpadd"><a class="navpadd btn btn-default btn-xs" href="~/Translation/ByLanguage/18">Norsk</a></div>
                                    <div class="col-sm-3 navmargpadd"><a class="navpadd btn btn-default btn-xs" href="~/Translation/ByLanguage/25">Svenska</a></div>
                                    <div class="col-sm-3 navmargpadd"><a class="navpadd btn btn-default btn-xs" href="~/Translation/ByLanguage/24">Suomi</a></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 navmargpadd"><a class="navpadd btn btn-default btn-xs" href="~/Translation/ByLanguage/5">Français</a></div>
                                    <div class="col-sm-3 navmargpadd"><a class="navpadd btn btn-default btn-xs" href="~/Translation/ByLanguage/6">Nederlands</a></div>
                                    <div class="col-sm-3 navmargpadd"><a class="navpadd btn btn-default btn-xs" href="~/Translation/ByLanguage/7">Português</a></div>
                                    <div class="col-sm-3 navmargpadd"><a class="navpadd btn btn-default btn-xs" href="~/Translation/ByLanguage/19">Polski</a></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 navmargpadd"><a class="navpadd btn btn-default btn-xs" href="~/Translation/ByLanguage/13">Italiano</a></div>
                                    <div class="col-sm-3 navmargpadd"><a class="navpadd btn btn-default btn-xs" href="~/Translation/ByLanguage/14">Latviešu</a></div>
                                    <div class="col-sm-3 navmargpadd"><a class="navpadd btn btn-default btn-xs" href="~/Translation/ByLanguage/15">Afrikaans</a></div>
                                    <div class="col-sm-3 navmargpadd"><a class="navpadd btn btn-default btn-xs" href="~/Translation/ByLanguage/16">Lietuvių</a></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 navmargpadd"><a class="navpadd btn btn-default btn-xs" href="~/Translation/ByLanguage/17">Magyar</a></div>
                                    <div class="col-sm-3 navmargpadd"><a class="navpadd btn btn-default btn-xs" href="~/Translation/ByLanguage/9">Türkçe</a></div>
                                    <div class="col-sm-3 navmargpadd"><a class="navpadd btn btn-default btn-xs" href="~/Translation/ByLanguage/8">Rumantsch</a></div>
                                    <div class="col-sm-3 navmargpadd"><a class="navpadd btn btn-default btn-xs" href="~/Translation/ByLanguage/20">Română</a></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 navmargpadd"><a class="navpadd btn btn-default btn-xs" href="~/Translation/ByLanguage/21">Shqipe</a></div>
                                    <div class="col-sm-3 navmargpadd"><a class="navpadd btn btn-default btn-xs" href="~/Translation/ByLanguage/22">Slovenski</a></div>
                                    <div class="col-sm-3 navmargpadd"><a class="navpadd btn btn-default btn-xs" href="~/Translation/ByLanguage/23">Slovenčina</a></div>
                                    <div class="col-sm-3 navmargpadd"><a class="navpadd btn btn-default btn-xs" href="~/Translation/ByLanguage/12">Hrvatski</a></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 navmargpadd"><a class="navpadd btn btn-default btn-xs" href="~/Translation/ByLanguage/11">Eesti</a></div>
                                    <div class="col-sm-3 navmargpadd"><a class="navpadd btn btn-default btn-xs" href="~/Translation/ByLanguage/26">Ελληνικά</a></div>
                                    <div class="col-sm-3 navmargpadd"><a class="navpadd btn btn-default btn-xs" href="~/Translation/ByLanguage/27">Беларускі</a></div>
                                    <div class="col-sm-3 navmargpadd"><a class="navpadd btn btn-default btn-xs" href="~/Translation/ByLanguage/28">Pусский</a></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 navmargpadd"><a class="navpadd btn btn-default btn-xs" href="~/Translation/ByLanguage/32">Íslenska(H)</a></div>
                                    <div class="col-sm-3 navmargpadd"><a class="navpadd btn btn-default btn-xs" href="~/Translation/ByLanguage/29">Yкраїнська</a></div>
                                    <div class="col-sm-3 navmargpadd"><a class="navpadd btn btn-default btn-xs" href="~/Translation/ByLanguage/30">日本語</a></div>
                                    <div class="col-sm-3 navmargpadd"><a class="navpadd btn btn-default btn-xs" href="~/Translation/ByLanguage/31">한국어</a></div>                                    
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="~/Request/Index">Beiðnir</a>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="col-md-offset-1">
            <p>&copy; @DateTime.Now.Year - Sloppy Joe's WikiSubs - <a href="mailto:sloppyjoeswikisubs@gmail.com">sloppyjoeswikisubs@gmail.com</a></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/home.js"></script>
</body>
</html>


